Cannot reply to message if capitalization of user name differs

my email is configured as (names changed to protect the guilty) "foo@example.com", I received an email to "Foo@example.com". I can read the email fine, but when I try to reply I get a "NoMatchingAccount" error. This is clearly wrong.

I have an idea of how to fix this.

Sadly that is not clearly wrong as the RFC say (as far as I remember) that the user name part of an email can be case sensitive. It's just that most providers only offer case insensitive user names. We could think about an option boolean to depart from the rfc because I honestly have never heard of any provider with case sensitive user names. But thats just the difference between standards and reality :(

[RFC 5322](https://tools.ietf.org/html/rfc5322)
[Wiki on email addresses](https://en.wikipedia.org/wiki/Email_address) (see also the second paragraph)

We are absolutely doing the wrong thing right now, according to RFC 5321, section 2.3.11:

```
An address normally consists of user and domain specifications. The  standard mailbox
naming convention is defined to be  "local-part@domain"; contemporary usage permits a 
much broader set of  applications than simple "user names".  Consequently, and due to a
long history of problems when intermediate hosts have attempted to optimize transport by 
modifying them, the local-part MUST be interpreted and assigned semantics only by the 
host specified in the domain part of the address.
```

Which pretty clearly says that the SMTP server receiving the email is free to interpret the name as case-sensitive or not, only intermediate and sending servers are forbidden from doing so. As far as I've been able to gather there are no major services that treat the username segment as case-sensitive (the domain name however, MUST be case sensitive). As the client we need to apply the same semantics that the upstream server does, if they treat user names as case-insensitive (as they are allowed), and we do not (or vice-versa) we're doing it wrong.

This is a pretty hard problem to solve universally. We could keep some kind of a list of SMTP servers and what their rules are, but that sounds pretty awful. I already implemented (as you suggested as well), that we have a flag to toggle for this feature, but I'm trying to write a few more tests for it before I send it for merge. You can see it [here](https://github.com/dcbaker/alot/tree/wip/fix-1107)

On Tue 2017-08-08 20:44:02 +0000, Lucas Hoffmann wrote:
> Sadly that is not clearly wrong as the RFC say (as far as I remember)
> that the user name part of an email can be case sensitive. It's just
> that most providers only offer case insensitive user names. We could
> think about an option boolean to depart from the rfc because I
> honestly have never heard of any provider with case sensitive user
> names. But thats just the difference between standards and reality :(

The standard just says that domain providers *can* use case-sensitive
local parts.

No sane provider *does* use case-sensitive local parts.

Some only-mildly-insane providers use case-sensitive local parts in the
sense that they would reject DKG@example.com but accept dkg@example.com.

I don't know of any case-sensitive provider (even on the
totally-out-there end of the spectrum) that actually accepts mail for
differently-cased local parts and actually delivers them to different
mailboxes.  (that is, where they allow one user to hold dkg@example.com,
but a different user has access to a distinct mailbox named
DKG@example.com)

As the person who holds the account, you probably already know whether
your provider *does* use case-sensitive local parts.  In fact, you know
because the e-mail actually reached your inbox :P

We're not diverging from the RFC to acknowledge any of these
observations and improve the user experience based on those
observations.

             --dkg


In practice, you should be able to remedy this by setting

```
[accounts]
[[foo]]
alias_regexp = [Ff]oo@example.com
```
which will correctly identify the capitalized version with your account.
I'm happy with a case-insensitive variant per default but to me it seems a bit of an overkill to introduce a special `Address` class for these types of strings.
@lucc, @dkg: your thoughts on this?


I'm also interested in what lucc and dkg think, but I will say that your example would be insufficient both to meet my practical case, and the legally allowed cases (especially that domain names MUST be compared case insensitive, which we're not doing).

In defense of the `Address` class:
It looks really big, but it's more than 50% comments (mostly RFC quotes), and it nicely encapsulates the logic of what needs to be done in a simple, single use fashion. I think it would also be easy to extend if we ever wanted to support server specific matching rules for accounts. [This section on wikipedia](https://en.wikipedia.org/wiki/Email_address#Subaddressing) lists the rules for some of the major servers.

I don't really mind the a new class for this. I think the alias solution is more of a hack and not a *nice* solution.

I think e-mail addresses are complicated, and there's a lot of history
and arcana and knowledge about how the real-world operates in order to
deal with them as effectively as possible.  Having a class that bundles
our current best-effort rules at dealing with e-mail addresses seems
totally reasonable to me.

It's even possible that we could embed domain-specific knowledge in this
class, which would represent things that we know that are unlikely to
change in the near future.

For example, such a class would be the place to encode what we know
about gmail: that foo.bar@gmail.com is the same address as
foobar@gmail.com and f.o.o.b.a.r+whatever@gmail.com.  They published
this info nearly a decade ago, and i'm sure their userbase has taken
advantage of it enough that they can't possibly change course now:

https://gmail.googleblog.com/2008/03/2-hidden-ways-to-get-more-from-your.html

I'm not saying that we *need* to encode this kind of detail in the first
revision of an Address class, but it would be sensible to have such a
class so that someone who wanted to do this kind of thankless
real-world-data-compilation work would have a place to put it.

It would also allow us to default to handling local parts
case-insensitively, and then if/when we get a report of a breakage for
some domain that does actually do insane case-sensitive things with the
local part, we can stick that exception into the Address class.

               --dkg


OK, overuled, it's fine with me