Part with Content-Disposition: ATTACHMENT; is not processed as attachment.

https://github.com/pazz/alot/blob/747b894bbe2156bae2c1f128ec0b4344d7c28378/alot/db/message.py#L234 matches on lowercase "attachment", but RFC2183 section 2 implies that this is not actually case sensitive. At least one of my contacts using Pine sends "Content-Disposition: ATTACHMENT".

The e-mail and headers are otherwise well-formatted; I'm able to introspect and save the attachment through the introspection shell by using

```
from alot.db import attachment
attachment.Attachment(ui.current_buffer.get_selected_message().get_email()._payload[1]).save("/home/user/filename.docx")
```

Changing the string in the backing mail file to lowercase "attachment" fixes this, the attachment shows up fine then.

My suggestion would be to match cd.lower().startswith('attachment'), so that the rest of the processing happens on the original content-disposition line with e.g. filename casing intact.


For now I've got https://github.com/MacGyverNL/alot/commit/25d8a692420c20646be704dc6b8e22f5eb616370 as a quick and dirty fix, but I imagine there's a better way to do this.

I merged your patch, it looks harmless enough :) thanks